# Configuración de Base de Datos
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/morascore
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Configuración de Seguridad (JWT)
# La clave secreta es OBLIGATORIA. Genera una cadena alfanumérica segura.
JWT_SECRET_KEY=

# Integración con ML Service
ML_SERVICE_URL=http://localhost:8000/predict
