# Frontend (ignorado por ahora)
frontend/

# Variables de entorno (nunca subir secretos)
.env
!.env.example

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db


# MLflow local artifacts y DB
mlartifacts/
mlruns/
mlflow.db
